@font-face {
	font-family: 'Verdana';
	src: url('../fonts/verdana.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/verdana.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/verdana.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/verdana.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/verdana.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/verdana.svg#verdana') format('svg'); /* Chrome < 4, Legacy iOS */
}