.wrapper {
   display: flex;
   flex-direction: column;
   padding-top: 25px;
   & .title {
      text-transform: uppercase;
      padding-bottom: 25px;
      text-align: center;
   }
   & .subtitle {
      padding-top: 15px;
      font-size: 1.143rem;
   }
   & .text {
      font-size: 1.143rem;
      text-align: justify;
   }
}