& .menu__filters{
   padding: 20px 20px 20px 40px;
   border: 1px solid var(--gray);
   border-radius: var(--radius);
   background-color: var(--background-card);
   & .filter__wrapper{
      & .filter__title{
         font-size: 1.286rem;
      }
      & .filter__catigories{
         border-top: 1px solid var(--gray);
         padding-top: 4px;
         margin-top: 15px;
         & .filter__manufacturer{
            padding-left: 20px;
            position: relative;
            & h4 {
               font-weight: 400;
               position: relative;
            }
            & h4::before{
               content: '';
               display: inline-block;
               width: 6px;
               height: 6px;
               border: 0.5px solid black;
               border-radius: 50%;
               margin-right: 8px;
               position: absolute;
               top: 8px;
               left: -12px;
            }
         }
      }
      & .filter__type{
         border-top: 1px solid var(--gray);
         padding: 4px 0 20px 20px;
         margin-top: 15px;
         & h4{
            font-weight: 400;
            position: relative;
         }
         & h4::before{
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            border: 0.5px solid black;
            border-radius: 50%;
            margin-right: 8px;
            position: absolute;
            top: 8px;
            left: -12px;
         }
      }
   }
}
@media (prefers-color-scheme: dark) {
   .menu__filters {
      color-scheme: light dark;
      background-color: var(--darkBackgroundCard);
      color: var(--white);
      & .filter__wrapper{
         & .filter__catigories{
            & .filter__manufacturer{
               & h4::before{
                  border: 0.5px solid var(--white);
               }
            }
         }
         & .filter__type{
            & h4::before{
               border: 0.5px solid var(--white);
            }
         }
      }
   }
}