.main {
  padding: 0 30px;
  position: relative;
  & .main__carousel{
    position: relative;
    height: 350px;
  }
  & .wrapper__decor {
    position: absolute;
  }
  & .main__general {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content:left;
    & .wrapper__button{
      display: none;
    }
    & .wrapper__menu {
      padding: 0;
      flex: 1;
    }
  }
}
@media(max-width: 1000px){
  .wrapper__decor {
    display: none;
  }
}
@media(max-width: 950px){
  .main {
    & .main__general {
      & .wrapper__button{
        display: block;
        position: absolute;
        top: -390px;
        left: 20px;
        & .button {
          font-size: 1.25rem;
          cursor: pointer;
          border: none;
          text-align: start;
          padding-left: 30px;
          background: transparent;
          width: 100%;
          position: relative;
        }
        & .button:hover{
          text-decoration: underline;
        }
        & .button::before{
          position: absolute;
          text-align: center;
          content: '';
          width: 40px;
          height: 27px;
          background: url(../../components/images/menu/settings.png) no-repeat left/55%;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
          padding:0;
        }
      }
      & .wrapper__menu{
        transition: all .4s linear;
        position: absolute;
        top: -350px;
        right: 0;
        bottom: 0;
        left: -1500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--burger);
        width: 150vw;
        padding-left: 30px;
        min-height: 100%;
      }
      & .active__wrapper_menu {
        left: -30px;
      }
    }
  }
}
@media(max-width: 330px){
  .main {
    & .main__general {
      & .wrapper__menu{
        padding-left: 15px;
      }
    }
  }
}