.header{
   color:var(--white);
   width: 100vw;
   background-color: var(--header);
   position: relative;
   & .headerImage {
      width: 100%;
      height: 100%;
      background: url("../images/header/brizgi_ob.webp") 0 0/100% no-repeat, url('../images/header/sloy_32_824.png') 1200px 0px/50px no-repeat, url('../images/header/listya_kopiya_9_802.png') 1700px 70px/50px no-repeat, url('../images/header/listya_kopiya_8_782.png') 1800px 0/90px no-repeat, url('../images/header/listya_kopiya_6_812.png') 100px 0/200px no-repeat, url('../images/header/listya_kopiya_5_821.png') 700px 0/130px no-repeat;
   }
}
@media(max-width: 1040px){
   .headerDecor{
      display: none;
   }
}
@media(max-width: 999px){
   .header{
      & .headerImage {
         background: url("../images/header/brizgi_ob.webp") 0 0/auto 100% no-repeat;
      }
   }
}
@media(max-width: 450px){
   .header{
      & .headerImage {
         background: none;
      }
   }
}
/* @media(max-width: 914px){
   .header{
      & .headerImage {
         background: url("../images/header/brizgi_ob.webp") 80% 50%/100% no-repeat;
      }
   }
} */