.header__basket{
   & .basket__link{
      width: 160px;
      cursor: pointer;
      padding: 10px 0 10px 10px;
      & .basket__image{
         float: right;
         width: 56px;
         height: 56px;
         padding: 10px;
      }
      & .basket__title{
         font-size: 1.125rem; /* 18px */
      }
   }
   & .basket__link:hover{
      text-decoration: underline;
   }
}
@media(max-width: 380px){
   .header__basket{
      width: 250px;
      & .basket__link{
         /* width: 100px; */
         padding: 10px 0 10px 10px;
         & .basket__image{
            float: right;
         }
         & .basket__title{
         }
         & .basket__count{}
         & .basket__summa{
            text-wrap:nowrap;
         }
      }
   }
}