.wrapper {
   & .error{
      display: flex;
      flex-direction: column;
      align-items:center;
      & .title {
         font-size: 8rem;
      }
      & .textOne, & .textTwo{
         font-size: 3rem;
      }
   }
}