@font-face {
	font-family: 'Verdana';
	src: url('./components/font-family/Verdana/fonts/verdana.eot'); /* IE 9 Compatibility Mode */
	src: url('./components/font-family/Verdana/fonts/verdana.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./components/font-family/Verdana/fonts/verdana.woff2') format('woff2'), /* Super Modern Browsers */
		url('./components/font-family/Verdana/fonts/verdana.woff') format('woff'), /*Firefox >= 3.6, any other modern */
		url('./components/font-family/Verdana/fonts/verdana.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./components/font-family/Verdana/fonts/verdana.svg#palatino_linotype') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
   font-family: 'Palatino';
   src: url('./components/font-family/Palatino-Linotype/fonts/palatino_linotype.eot'); /* IE 9 Compatibility Mode */
   src: url('./components/font-family/Palatino-Linotype/fonts/palatino_linotype.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
      url('./components/font-family/Palatino-Linotype/fonts/palatino_linotype.woff2') format('woff2'), /* Super Modern Browsers */
      url('./components/font-family/Palatino-Linotype/fonts/palatino_linotype.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
      url('./components/font-family/Palatino-Linotype/fonts/palatino_linotype.ttf') format('truetype'), /* Safari, Android, iOS */
      url('./components/font-family/Palatino-Linotype/fonts/palatino_linotype.svg#palatino_linotype') format('svg'); /* Chrome < 4, Legacy iOS */
}
*,*::before,*::after{box-sizing:border-box;}
ul[class],ol[class],menu[class]{padding:0;}
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0;}
body{margin:0;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5;}
body,html{height:100%;}
ul[class],ol[class],menu[class]{list-style: none;}
a:not([class]){text-decoration-skip-ink:auto;}
a{text-decoration:none;color:inherit;}
img{max-width:100%;display:block;}
article > * + * {margin-top:1em;}
input,button,textarea,select{font:inherit;}

/* ====================== */

:root {
  --dark-color: rgb(67, 63, 63);
  --light-color: #ffffff;
  --header: #00aed9;
  --navbar: #00aed972;
  --white: rgb(255, 255, 255);
  --black: #434343;
  --text-shadow: 0px 1px 5px rgba(0,107,133,0.6);
  --background-card: rgba(249, 249, 249, 0.874);
  --darkBackgroundCard: rgba(67, 63, 63, 0.786);
  --gray: #00000027;

  --radius: 3px;
  --Platino: 'Palatino Linotype', "Arial", sans-serif;
  --Verdana: "Verdana", "Arial", sans-serif;
}

body {
  font-family: var(--Verdana);
  font-weight: 400;
  font-size: 14px;
  color-scheme: light;
  background-color: var(--light-color);
  color: var(--dark);
}

/* Дополнительные стили для темной цветовой схемы */
@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light dark;
    background-color: var(--dark-color);
    color: var(--white);
  }
}
/* ============================================ */
.container{
  max-width: 960px;
  margin: 0 auto;
}
.hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}