.header__navbar{
   position: relative;
   top: auto;
   height: 50px;
   /* z-index: 1; */
   display: flex;
   justify-content: center;
   border-top: 1px solid var(--header);
   border-bottom: 1px solid var(--header);
   background: var(--navbar);
   & .navbar__list{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      & .navbar__item{
         z-index: 2;
         cursor: pointer;
         padding: 0 10px;
         font-weight:700;
         text-transform: uppercase;
         display: flex;
         align-items: center;
         height: 100%;
         text-shadow: var(--text-shadow);
      }
      & .navbar__item:hover{
         text-decoration: underline;
      }
   }
   & .burger__container {
      display: none;
   }
}
@media(max-width:999px){
   .header__navbar{
      justify-content: flex-end;
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      /* z-index: 2; */
      /* opacity: .99; */
      & .navbar__list{
         transition: all .4s linear;
         display: flex;
         position: absolute;
         flex-direction: column;
         align-items: flex-end;
         justify-content: flex-start;
         background-color: var(--burger);
         width: 110vw;
         left: 110%;
         top: 49px;
         /* border: 1px solid red; */
         padding-top: 70px;
         min-height: 800px;
         z-index: 2;
         & .navbar__item{
            justify-content: flex-end;
            padding: 0 90px 0 0;
            height: 50px;
            width: 100%;
         }
      }
      & .active__list {
         left: -5vw;
      }
      & .burger__container{
         display: block;
      }
      & .burger__wrapper{
         height: 100%;
         position: relative;
         background-color: inherit;
         border: none;
         right: 30px;
         cursor: pointer;
         & .burger {
            top: 5%;
            transform: translate(0, -50%);
            width: 20px;
            height: 2px;
            background-color: var(--white);
            border: none;
            position: relative;
         }
         & .burger::before, .burger::after{
            transition: all .4s linear;
            content: '';
            background-color: var(--white);
            position: absolute;
         }
         & .burger::before{
            height: 3px;
            top: -13px;
            right: 0;
            width: 25px;
         }
         & .burger::after{
            height: 1px;
            top: 13px;
            right: 0;
            width: 15px;
         }
      }
      & .active_burger__wrapper{
         display: block;
         height: 100%;
         position: relative;
         background-color: inherit;
         border: none;
         right: 30px;
         cursor: pointer;
         & .burger {
            top: 5%;
            transform: translate(0, -50%);
            width: 20px;
            height: 2px;
            background-color: var(--white);
            border: none;
            position: relative;
         }
         & .burger::before, .burger::after{
            transition: all .4s linear;
            content: '';
            background-color: var(--white);
            position: absolute;
         }
         & .burger::before{
            height: 1px;
            top: -13px;
            right: 0;
            width: 15px;
         }
         & .burger::after{
            height: 3px;
            top: 13px;
            right: 0;
            width: 25px;
         }
      }
      & .burger__wrapper:hover{
         scale: 1.1;
      }
   }
}
@media(max-width:700px){
   .header__navbar{
      & .navbar__list{
         & .navbar__item{
            padding: 0 70px 0 0;
         }
      }
   }
}