.decor {
   & .decorOne {
      background: url("../images/header/decor-water4.png") 0 0/100% no-repeat;
      position: fixed;
      padding: 0;
      margin:0;
      top: 110px;
      left: -10px;
      width: 45%;
      height: 100%;
   }
   & .decorTwo {
      background: url("../images/header/decor-water4.png") 0 100%/100% no-repeat;
      transform: rotate(180deg);
      padding: 0;
      margin:0;
      /* position:absolute; */
      position: fixed;
      width: 45%;
      height: 100%;
      top: 120px;
      right: -20px;
   }
}